{% for enum in parser.Enums-%}
{% if "binding" in enum.annotations-%}
py::enum_<{{enum.name}}>(m, "{{enum.name}}")
    {% for constant in enum.constants-%}
    {% if "hidden" not in constant.annotations-%}
    .value("{{constant.name}}", {{enum.name}}::{{constant.name}})
    {% endif-%}
    {% endfor-%}
    .export_values();
{%- endif %}
{% endfor-%}
