{% macro print_class_list(cls) -%}
{% if cls.base_classes| length > 0 -%}
{{cls.name}}, {{ cls.base_classes | map(attribute='name') | join(', ') }}
{%-else -%}
{{cls.name}}
{%- endif-%}
{%-endmacro-%}

{% macro print_method(cls, method)-%}
{%-if method.is_static-%}
.def_static("{{method.name}}", &{{cls.name}}::{{method.name}})
{%-elif not method.is_pure_virtual -%}
.def("{{method.name}}", &{{cls.name}}::{{method.name}})
{%- endif-%}
{%- endmacro %}

{% macro print_method_arguments(method)-%}
{%- for argument in method.arguments -%}
{{ argument.type }} {{ argument.name }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
{%-endmacro%}

{% macro print_singleton_method(cls, method) -%}
.def_static("{{method.name}}", []({{ print_method_arguments(method) }}) { return {{cls.name}}::GetInstance()->{{method.name}}({{ method.arguments | map(attribute='name') | join(', ') }}); })
{%-endmacro %}

{% macro print_constructor(cls, constructor) -%}
.def(py::init<{{constructor.arguments | map(attribute='type') | join(', ')}}>())
{%-endmacro %}