#include <pybind11/pybind11.h>
#include <engine/engine.h>

namespace py = pybind11;
using namespace ntt;

PYBIND11_MODULE(EngineCoreBinding, m)
{

{% include "binding/enum.j2" %}

{% include "binding/class.j2" %}

}