from typing import *  # type: ignore
from enum import *

u8: TypeAlias = int
u16: TypeAlias = int
u32: TypeAlias = int
u64: TypeAlias = int

i8: TypeAlias = int
i16: TypeAlias = int
i32: TypeAlias = int
i64: TypeAlias = int

f32: TypeAlias = float
f64: TypeAlias = float

String: TypeAlias = str
Json: TypeAlias = Dict[str, Any]

{% include "pyi/typedef.j2" %}

{% include "pyi/enum.j2" %}
{% include "pyi/struct.j2" %}
{% include "pyi/function.j2" %}
{% include "pyi/class.j2" %}