{% macro print_argument(argument)-%}
{{argument.name}}: {{ to_pyi_type(argument.type) }}{% if argument.default_value != None %} = {{argument.default_value}}{% endif %}
{%- endmacro %}

{% macro print_return_type(function)-%}
{%- if function.return_type == "void" -%}
None
{%- else -%}
{{ to_pyi_type(function.return_type) }}
{%- endif -%}
{%- endmacro %}

{% macro print_function(function)-%}
def {{function.name}}({% for argument in function.arguments %}{{ print_argument(argument) }}{% if not loop.last %}, {% endif %}{% endfor %}) -> {{ print_return_type(function) }}: ...
{%- endmacro %}

{% macro print_method(method)-%}
def {{method.name}}(self, {% for argument in method.arguments %}{{ print_argument(argument) }}{% if not loop.last %}, {% endif %}{% endfor %}) -> {{ print_return_type(method) }}: ...
{%- endmacro %}