{% for typedef in parser.Typedefs-%}
{% if not "hidden" in typedef.annotations and typedef.namespace == "ntt" -%}
{{ typedef.name }}: TypeAlias = {{ to_pyi_type(typedef.underlying_type) }}
{% endif-%}
{% endfor-%}